@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
/* font-family: 'Source Sans Pro', sans-serif; */

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background: rgb(255,245,235);
    background: linear-gradient(90deg, rgba(255,245,235,1) 0%, rgba(255,255,246,1) 73%, rgba(255,255,255,0.2805497198879552) 100%);
}

#container {
    
}

.navigation home {
    flex-basis: 20%;
}

.navigation {
    background-color: dodgerblue;
    border: 1px solid red;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navigation a {
    color: #fffff6;
    text-decoration: none;
}

.navigation a:hover {
    color: dodgerblue;
    background-color: #fffff6;
    padding: 5px 15px;
}

a {
    background-color: dodgerblue;
    display: inline-block;
    padding: 5px 15px;
    color: black;
    text-decoration:  none;
    transition: background-color 0.2s,
                color 0.5;