/* blury shadow text */
.shadowtext {
    font-family: 'Courier New', Courier, monospace;
    font-size: 42px;
    text-shadow: 2px 2px 1px sandybrown;
}

/* inblock display */
div {
    display: inline-block;
    border: 1px solid tomato;
    padding: 10px;
    margin: 5px;
    
}

/* box model - border box */
.box {
    border: 1px solid tomato;
    height: 300px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

/* borders around borders  */
.outline {
    outline: 5px solid yellow;
    outline-offset: 10px;
    margin: 30px;
}